<section [formGroup]="test">
    <div class="parent">
        <div class="div1">
            <div class="check">
                <mat-checkbox formControlName="wakeUp"></mat-checkbox>
            </div>
            <div class="text">
                Levantarse temprano (05:00am-10:00am)
            </div>
        </div>
        <div class="div2">
            <div class="check">
                <mat-checkbox formControlName="bed"></mat-checkbox>
            </div>
            <div class="text">
                Hacer la cama (Doblar cobijas, acomodar peluches/almohadas)
            </div>
        </div>
        <div class="div3">
            <div class="check">
                <mat-checkbox formControlName="clean"></mat-checkbox>
            </div>
            <div class="text">
                Limpiar el escritorio
            </div>
        </div>
        <div class="div4">
            <div class="check">
                <mat-checkbox formControlName="teethMorn"></mat-checkbox>
            </div>
            <div class="text">
                Cepillar los dientes
            </div>
        </div>
        <div class="div5">
            <div class="check">
                <mat-checkbox formControlName="skinMorn"></mat-checkbox>
            </div>
            <div class="text">
                Aplicar skincare de la mañana (minimo crema)
            </div>
        </div>
        <div class="div6">
            <div class="check">
                <mat-checkbox formControlName="body"></mat-checkbox>
            </div>
            <div class="text">
                Skincare del cuerpo
            </div>
        </div>
        <div class="div7">
            <!-- <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart"
                [dataLabels]="chartOptions.dataLabels" [plotOptions]="chartOptions.plotOptions"
                [yaxis]="chartOptions.yaxis" [legend]="chartOptions.legend" [fill]="chartOptions.fill"
                [stroke]="chartOptions.stroke" [tooltip]="chartOptions.tooltip"
                [xaxis]="chartOptions.xaxis"></apx-chart> -->
        </div>
        <div class="div8">
            <button type="submit">Subir</button>
        </div>
    </div>
</section>