<div class="parent">
    <div class="div1">
        <div class="check"><img src="/assets/ser.svg" alt=""></div>
        <div class="text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit fugiat tempore fuga enim laboriosam.
            Obcaecati natus exercitationem ab, nesciunt rem cum veritatis necessitatibus labore ipsam nulla ducimus
            laboriosam at doloribus.
        </div>
    </div>
    <div class="div2">
                <div class="check"><img src="/assets/ser.svg" alt=""></div>
        <div class="text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit fugiat tempore fuga enim laboriosam.
            Obcaecati natus exercitationem ab, nesciunt rem cum veritatis necessitatibus labore ipsam nulla ducimus
            laboriosam at doloribus.
        </div>
    </div>
    <div class="div3">
                <div class="check"><img src="/assets/ser.svg" alt=""></div>
        <div class="text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit fugiat tempore fuga enim laboriosam.
            Obcaecati natus exercitationem ab, nesciunt rem cum veritatis necessitatibus labore ipsam nulla ducimus
            laboriosam at doloribus.
        </div>
    </div>
    <div class="div4">
                <div class="check"><img src="/assets/ser.svg" alt=""></div>
        <div class="text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit fugiat tempore fuga enim laboriosam.
            Obcaecati natus exercitationem ab, nesciunt rem cum veritatis necessitatibus labore ipsam nulla ducimus
            laboriosam at doloribus.
        </div>
    </div>
    <div class="div5">
                <div class="check"><img src="/assets/ser.svg" alt=""></div>
        <div class="text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit fugiat tempore fuga enim laboriosam.
            Obcaecati natus exercitationem ab, nesciunt rem cum veritatis necessitatibus labore ipsam nulla ducimus
            laboriosam at doloribus.
        </div>
    </div>
    <div class="div6">
                <div class="check"><img src="/assets/ser.svg" alt=""></div>
        <div class="text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit fugiat tempore fuga enim laboriosam.
            Obcaecati natus exercitationem ab, nesciunt rem cum veritatis necessitatibus labore ipsam nulla ducimus
            laboriosam at doloribus.
        </div>
    </div>
</div>