.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 1vw;
    grid-row-gap: 1vw;
}

button {
    border-radius: 10%;
    width: 10vw;
    height: 3vw;
    background-color: #6a55d6;
    border: none;
}

button:hover {
    background-color: #4D3758;
    color: #9F86C0;
    box-shadow: #c599c9 1px 1px 10px;
    transition: 0.2s ease-in-out;
}

button:checked {
    background-color: #4D3758;
}

.parent>div {
    color: white;
    background: #9F86C0;
    background: linear-gradient(180deg, rgba(159, 134, 192, 0.18) 0%, rgba(75, 63, 90, 0.18) 66%);
    padding: 1.5vw;
    border-radius: 5px;
    display: flex;
    font-size: larger;
    box-shadow: #2d233a 1px 1px 5px;

    .check {
        justify-content: center;
        align-content: center;

        [type=checkbox] {
            border: none
        }
    }

    .text {
        text-align: start;

    }
}

.div1 {
    grid-area: 1 / 1 / 2 / 4;
}

.div2 {
    grid-area: 2 / 1 / 3 / 4;
}

.div3 {
    grid-area: 3 / 1 / 4 / 4;
}

.div4 {
    grid-area: 4 / 1 / 5 / 4;
}

.div5 {
    grid-area: 5 / 1 / 6 / 4;
}

.div6 {
    grid-area: 6 / 1 / 7 / 4;
}

.div7 {
    grid-area: 7 / 1 / 8 / 4;
}

.div8 {
    grid-area: 1 / 4 / 8 / 6;
    justify-content: center;
    align-items: center;
}

.div9 {
    grid-area: 8 / 1 / 9 / 6;
}


@media (max-width: 504px) {
     .parent {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-column-gap: 2vw;
        grid-row-gap: 2vw;
        margin: 1.5vw;

    }

    .parent>div>.text {
        font-size: 2.5vw;
        justify-content: center;
        align-content: center;
    }

    .div9{
        align-content: center;
        justify-content: center;
        button{
            margin: 1vw;
            width: 20vw;
            height: 7vw;
        }
    }

}

@media (min-width: 505px) {
    .parent {
        /* padding: 5vw; */
    }

    .parent>div {
        grid-column-gap: 1vw;

        .check {
            grid-area: 1 / 1 / 2 / 2;

            img {
                width: auto;
                height: 2.5vw;
            }
        }

        .text {
            grid-area: 1 / 2 / 2 / 3;
        }
    }
}