router-outlet {
        background-color: #100928;
}

html {
        background-color: #100928;
}

.parent {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
}

.Menu {
        ul {
                list-style: none;
        }

        img {
                width: auto;
                height: 10vw;
        }

        button {
                background-color: #320ea867;
                border: none;
                border-radius: 100%;
                width: 5vw;
                height: 5vw;
        }
}


@media (max-width: 504px) {
        .div1 {
                grid-area: 1 / 1 / 2 / 4;

        }

        .div2 {
                grid-area: 2 / 1 / 4 / 4;
        }

        .Menu {
                display: flex;
                justify-content: center;
                align-content: center;

                a {
                        .ima1{
                                height: 18vw;
                                margin:1vw;

                        }
                        .ima2{
                                height: 20vw;
                        }
                }


        }
}

@media (min-width: 505px) {
        .parent {
                display: grid;
                grid-template-columns: 1fr 10fr;
                grid-template-rows: repeat(2, 1fr);
                grid-column-gap: -10px;
                grid-row-gap: 0px;
        }

        .div1 {
                grid-area: 1 / 2 / 3 / 3;
                padding: 1vw;

                button {
                        margin: 1vw;
                }

        }

        .div2 {
                grid-area: 1 / 1 / 3 / 2;
                justify-content: center;
                align-content: center;
        }

        .Menu {
                padding: 1vw;
                display: flex;
                flex-direction: column;
                align-items: center;

                a {
                        .ima1 {
                                width: 8vw;
                        }

                        .ima2 {
                                width: 10vw;
                        }

                        margin: 1vw;
                }
        }
}