.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 1vw;
}

.parent>div {
    color: white;
    background: #9F86C0;
    background: linear-gradient(180deg, rgba(159, 134, 192, 0.18) 0%, rgba(75, 63, 90, 0.18) 66%);
    padding: 1.5vw;
    border-radius: 5px;
    display:flex;
    font-size: larger;
    box-shadow: #2d233a 1px 1px 5px;

    .check {
        justify-content: center;
        align-content: center;
        [type=checkbox]{
            border:none
        }
    }

    .text {
        text-align: start;
        
    }
}
.div1 {
    grid-area: 1 / 1 / 2 / 6;
}

.div2 {
    grid-area: 2 / 1 / 3 / 6;
}

.div3 {
    grid-area: 3 / 1 / 4 / 6;
}

.div4 {
    grid-area: 4 / 1 / 5 / 6;
}

.div5 {
    grid-area: 5 / 1 / 6 / 6;
}

.div6 {
    grid-area: 6 / 1 / 7 / 6;
}

.div7 {
    grid-area: 7 / 1 / 8 / 6;
}


@media (max-width: 504px) {}

@media (min-width: 505px) {
    .parent {
        /* padding: 5vw; */
    }

    .parent>div {
        grid-column-gap: 1vw;

        .check {
            grid-area: 1 / 1 / 2 / 2;

            img {
                width: auto;
                height: 2.5vw;
            }
        }

        .text {
            grid-area: 1 / 2 / 2 / 3;
        }
    }
}