.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.div1 {
    grid-area: 1 / 1 / 2 / 4;

    img {
        width: auto;
        height: 20vw;
    }
}

.div2 {
    grid-area: 2 / 1 / 4 / 4;

    a {
        img {
            width: auto;
            height: 8vw;
        }
    }
}

@media (max-width: 504px) {
    .parent {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        padding: 5vw;
    }

    .div1 {
        margin: 1;

    }

    .div2 {
        margin: 1vw;

        button {
            margin: 1vw;
        }
    }
}

@media (min-width: 505px) {
    .parent {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .div2 {
        a{
            img{
                margin: 3vw;
            }
        }
    }
}