<section [formGroup]="day">
    <div class="parent">
        <div class="div1">
            <div class="check">
                <mat-checkbox formControlName="exercise"></mat-checkbox>
            </div>
            <div class="text">
                Ejercicio
            </div>
        </div>
        <div class="div2">
            <div class="check">
                <mat-checkbox formControlName="dailies"></mat-checkbox>
            </div>
            <div class="text">
                Diarias
            </div>
        </div>
        <div class="div3">
            <div class="check">
                <mat-checkbox formControlName="food"></mat-checkbox>
            </div>
            <div class="text">
                Comida (minimo 2)
            </div>
        </div>
        <div class="div4">
            <div class="check">
                <mat-checkbox formControlName="work"></mat-checkbox>
            </div>
            <div class="text">
                Trabajo
            </div>
        </div>
        <div class="div5">
            <div class="check">
                <mat-checkbox formControlName="water"></mat-checkbox>
            </div>
            <div class="text">
                Tomas 2 litros de agua
            </div>
        </div>
        <div class="div6">
            <div class="check">
                <mat-checkbox formControlName="study"></mat-checkbox>
            </div>
            <div class="text">
                Estudio (lenguaje,programacion,etc.)
            </div>
        </div>
        <div class="div7">
            <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart"
                [dataLabels]="chartOptions.dataLabels" [plotOptions]="chartOptions.plotOptions"
                [yaxis]="chartOptions.yaxis" [legend]="chartOptions.legend" [fill]="chartOptions.fill"
                [stroke]="chartOptions.stroke"[xaxis]="chartOptions.xaxis" [responsive]="chartOptions.responsive"></apx-chart>
        </div>
        <div class="div8">
            <button (click)="actualizar()">Subir</button>
        </div>
    </div>
</section>