<div class="parent">
    <div class="Boton"><a href="/Inicio"><img src="assets/inicial.svg" alt=""></a></div>
    <div class="Inicio"><a href="/Inicio"><img src="assets/inicial.svg" alt=""></a></div>
    <div class="InformeSemanal">
        <ul>
            <p>Informacion</p>
            <li>
                <p>info info</p>
            </li>
            <li>
                <p>progress chart</p>
            </li>
        </ul>
    </div>

    <div class="Grafica1">
        <div class="progress vertical">
            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="50+" aria-valuemin="0"
                aria-valuemax="100" style="width: 45%;">
            </div>
        </div>
    </div>

    <div class="InformeMensual">
        <ul>
            <p>Informacion</p>
            <li>
                <p>info info</p>
            </li>
            <li>
                <p>progress chart</p>
            </li>
        </ul>
    </div>

    <div class="Grafica2">
        <div class="progress vertical">
            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="50+" aria-valuemin="0"
                aria-valuemax="100" style="width: 45%;">
            </div>
        </div>
    </div>

    <div class="InformeAnual">
        <ul>
            <p>Informacion</p>
            <li>
                <p>info info</p>
            </li>
            <li>
                <p>progress chart</p>
            </li>
        </ul>
    </div>

    <div class="Grafica3">
        <div class="progress vertical">
            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="50" aria-valuemin="0"
                aria-valuemax="100" style="width: 45%;">
            </div>
        </div>
    </div>

    <div class="Envio">
        <button>enuifw</button>
    </div>
</div>