.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 1vw;
    grid-row-gap: 1vw;
}

.parent>div {
    color: white;
    background: #9F86C0;
    background: linear-gradient(180deg, rgba(159, 134, 192, 0.18) 0%, rgba(75, 63, 90, 0.18) 66%);
    padding: 1vw;
    border-radius: 5px;

    .graph {
        grid-area: 1 / 1 / 2 / 2;
    }

    .data {
        grid-area: 2 / 1 / 3 / 2;
    }
}

.div1 {
    grid-area: 1 / 1 / 2 / 2;
}

.div2 {
    grid-area: 1 / 2 / 2 / 3;
}

.div3 {
    grid-area: 1 / 3 / 2 / 4;
}

.div4 {
    grid-area: 2 / 1 / 3 / 4;
}