<div class="parent">
    <div class="div1"> 
        <div class="graph"></div>
        <div class="data">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio quisquam quibusdam quia adipisci omnis! Laborum, corrupti inventore quam quo rem molestiae animi quos laudantium nam repellat tempore nisi, nesciunt voluptatibus.
        </div>
    </div>
    <div class="div2">
                <div class="graph"></div>
        <div class="data">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio quisquam quibusdam quia adipisci omnis! Laborum, corrupti inventore quam quo rem molestiae animi quos laudantium nam repellat tempore nisi, nesciunt voluptatibus.
        </div>
     </div>
    <div class="div3">        <div class="graph"></div>
        <div class="data">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio quisquam quibusdam quia adipisci omnis! Laborum, corrupti inventore quam quo rem molestiae animi quos laudantium nam repellat tempore nisi, nesciunt voluptatibus.
        </div>
     </div>
    <div class="div4"> 
    </div>
</div>