<div class="parent">
    <div class="Boton"><a href="/Inicio"><img src="assets/inicial.svg" alt=""></a></div>
    <div class="Inicio"><a href="/Inicio"><img src="assets/inicial.svg" alt=""></a></div>
    <div class="tracks">
        <div class="InformeSemanal">
            <div class="Class1">
                <ul>
                    <p>Semanal</p>
                    <li>
                        <p>Completado: [Variable]</p>
                    </li>
                    <hr>
                    <li>
                        <p>Sin Completar: [Variable]</p>
                    </li>
                    <hr>
                    <li>
                        <p>Falta mejorar: [Variable]</p>
                    </li>
                </ul>
            </div>
            <div class="Grafica1">
                <div class="progress vertical">
                    <div class="progress-bar progress-bar-info san" role="progressbar" aria-valuenow="50+" aria-valuemin="0"
                        aria-valuemax="100">
                    </div>
                </div>
            </div>
        </div>



        <div class="InformeMensual">
            <div class="Class2">
                <ul>
                    <p>Mensual</p>
                    <li>
                        <p>Completado: [Variable]</p>
                    </li>
                    <hr>
                    <li>
                        <p>Sin Completar: [Variable]</p>
                    </li>
                    <hr>
                    <li>
                        <p>Falta mejorar: [Variable]</p>
                    </li>
                </ul>
            </div>
            <div class="Grafica2">
                <div class="progress vertical">
                    <div class="progress-bar progress-bar-info san" role="progressbar" aria-valuenow="50+" aria-valuemin="0"
                        aria-valuemax="100">
                    </div>
                </div>
            </div>
        </div>



        <div class="InformeAnual">
            <div class="Class3">
                <ul>
                    <p>Anual</p>
                    <li>
                        <p>Completado: [Variable]</p>
                    </li>
                    <hr>
                    <li>
                        <p>Sin Completar: [Variable]</p>
                    </li>
                    <hr>
                    <li>
                        <p>Falta mejorar: [Variable]</p>
                    </li>
                </ul>
            </div>
            <div class="Grafica3">
                <div class="progress vertical">
                    <div class="progress-bar progress-bar-info san" role="progressbar" aria-valuenow="50+" aria-valuemin="0"
                        aria-valuemax="100">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="Envio">
        <button>Registro</button>
    </div>
</div>