<div class="parent">
    <div class="Notice">
        <p>El dia de hoy es </p>
        <li>
            <a href="/">Jueves</a>
        </li>
        <li>
            <a href="/">01 de Mayo del 2025</a>
        </li>
        <li>
            <a href="/">Clima:</a>
        </li>
        <li>
            <a href="/">Esta soleado</a>
        </li>
    </div>

    <div class="Amanecer">
        <ul>
            <p>Dia</p>
            <li>
                <a href="/">aaa</a>
            </li>
            <li>
                <a href="/">aaa</a>
            </li>
        </ul>
    </div>

    <div class="Dia">
        <ul>
            <p>Noche</p>
            <li>
                <a href="/">aaa</a>
            </li>
            <li>
                <a href="/">aaa</a>
            </li>
        </ul>
    </div>

    <div class="Noche">
        <ul>
            <p>Noche</p>
            <li>
                <a href="/">aaa</a>
            </li>
            <li>
                <a href="/">aaa</a>
            </li>
        </ul>
    </div>

    <div class="Boton">
        <a href="/Inicio" class="btnReg"><img src="assets/inicial.svg" alt=""></a>

    </div>

    <div class="Porcentaje">
        <button>sandia</button>
    </div>
</div>