.parent {
    text-decoration: none;
    color: #9F86C0;

    li {
        list-style: none;
    }

    a {
        text-decoration: none;
        color: black;
    }

    padding: 2vw;
}

.sandia {
    visibility: visible;
}

.Notice {
    border-radius: 3%;
    box-shadow: #282229 1px 1px 10px;

}

.Notice2 {
    border-radius: 3%;
    box-shadow: #282229 1px 1px 10px;

}

.Amanecer {
    background: #4B3F5A;
    background: linear-gradient(180deg, rgba(75, 63, 90, 0.3) 100%, rgba(159, 134, 192, 0.3) 0%);
    box-shadow: #282229 1px 1px 10px;
    padding: 2vw;
    border-radius: 5%;
    text-align: center;
}

.CollapseCu {
    padding: 1vw;
    background: #9F86C0;
    border-radius: 5%;
}

.Dia {
    background: #4B3F5A;
    background: linear-gradient(180deg, rgba(75, 63, 90, 0.3) 100%, rgba(159, 134, 192, 0.3) 0%);
    padding: 2vw;
    border-radius: 5%;
    text-align: center;
    box-shadow: #2b1e33 1px 1px 10px;
}

.Noche {
    background: #4B3F5A;
    background: linear-gradient(180deg, rgba(75, 63, 90, 0.3) 100%, rgba(159, 134, 192, 0.3) 0%);
    padding: 2vw;
    border-radius: 5%;
    text-align: center;
    box-shadow: #2b1e33 1px 1px 10px;
}

.Porcentaje {
    background: #4B3F5A;
    background: linear-gradient(180deg, rgba(75, 63, 90, 0.3) 100%, rgba(159, 134, 192, 0.3) 0%);
    padding-top: 3vw;
    padding-left: 2vw;
    padding-right: 2vw;
    border-radius: 5%;
    text-align: center;
    color: beige;
    box-shadow: #2b1e33 1px 1px 10px;
}

.btnPro {
    background-color: #9F86C0;
    padding-left: 7vw;
    padding-right: 7vw;
    border-radius: 10%;
}

.btnS {
    li {
        padding: 1vw;
        display: inline-block;
    }

    button {
        border-radius: 100%;
        width: 3vw;
        height: 3vw;
        background-color: #5e548e93;
        border: none;

        img {
            width: 2vw;
        }
    }

    button:hover {
        background-color: #4D3758;
        transition: 0.2ms ease-in-out;
    }

    button:checked {
        background-color: #4D3758;
    }
}

.tracks {
    display: grid;
    align-self: baseline;
}

@media (max-width: 412px) {
    .parent {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 10px;
        margin: 6vw;
        overflow: hidden;
        position: fixed;

        li {
            list-style: none;
        }
    }

    .Notice {
        grid-area: 1 / 1 / 2 / 4;
        padding-left: 5vw;
        padding-top: 5vw;
    }

    .Amanecer {
        grid-area: 2 / 1 / 3 / 4;
        display: inline;
        padding: 3vw;
    }

    .Dia {
        grid-area: 3 / 1 / 4 / 4;
        display: inline;
        padding: 3vw;
    }

    .Noche {
        grid-area: 4 / 1 / 5 / 4;
        display: inline;
        padding: 3vw;
    }

    .Boton {
        grid-area: 5 / 1 / 4 / 4;
        display: inline;
        text-align: center;

        img {
            width: 30vw;
        }
    }

    .Porcentaje {
        visibility: hidden;
    }

    .CollapseCu {
        padding: 1vw;
        background: #9F86C0;
        border-radius: 5%;
    }

    .btnPro {
        background-color: #9F86C0;
        padding-left: 7vw;
        padding-right: 7vw;
        border-radius: 10%;
    }

    .btnS {
        li {
            padding: 1vw;
            display: inline-block;
        }

        button {
            border-radius: 100%;
            width: 12vw;
            height: 12vw;
            background-color: #5e548e93;
            border: none;

            img {
                width: 8vw;
            }
        }
    }

    .Notice2 {
        display: none;
    }

    .tracks {
        grid-area: 2 / 1 / 5 / 4;
        grid-row-gap: 25px;
    }

    .Boton1 {
        display: none;
    }

    .Spin {
        display: none;
    }
}

@media (min-width: 413px) {
    .parent {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 15px;
        overflow: hidden;
        position: fixed;
    }

    .sandia {
        display: none;
    }

    .Boton1 {
        padding: 2vw;

        img {
            border-radius: 100%;
            width: 5vw;
        }
    }

    .Boton1 img:hover {
        box-shadow: #c599c9 1px 1px 100px;
        transition: 1s ease-in;
        transition: 1s ease-out;
        border-radius: 100%;
    }

    .Notice {
        grid-area: 1 / 1 / 3 / 2;
        background: #4D3758;
        background: linear-gradient(180deg, rgba(77, 55, 88, 0.5) 100%, rgba(88, 55, 82, 0.5) 0%);
        text-align: center;
        padding-top: 1vmin;
    }

    .Notice2 {
        grid-area: 3 / 1 / 5 / 2;
        background: #4D3758;
        background: linear-gradient(180deg, rgba(77, 55, 88, 0.5) 100%, rgba(88, 55, 82, 0.5) 0%);
        text-align: center;
        font-size: large;
        padding: 1vw;
    }

    .Amanecer {
        grid-area: 2 / 2 / 4 / 3;
        font-size: 1vw;
        display: inline;
        justify-items: center;
    }

    .Amanecer .CollapseCu:hover {
        box-shadow: #2b1e33 1px 1px 100px;
        transition: 1s ease-in-out;
    }

    .Dia {
        grid-area: 2 / 3 / 4 / 4;
        font-size: 1vw;
        display: inline;
        justify-items: center;

    }

    .Noche {
        grid-area: 2 / 4 / 4 / 5;
        font-size: 1vw;
        display: inline;
        justify-items: center;

    }

    .Porcentaje {
        grid-area: 4 / 2 / 4 / 5;
    }

    .tracks {
        grid-area: 1 / 2 / 4 / 5;
        grid-column-gap: 20px;
        align-items: baseline;
    }

    .Boton {
        display: none;
    }

    .btnPro {}

    .SpinLuz {
        transition: opacity 0.5s ease, transform 0.5s ease;
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;
        width: 10vw;
        height: 10vw;
        border-radius: 50%; 
        position: relative;
    }

    .SpinLuz.oculta {
        opacity: 0;
        transform: translateY(20px);
        pointer-events: none;
        display: none;
    }

    .SpinDia {
        transition: opacity 0.5s ease, transform 0.5s ease;
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;
        width: 10vw;
        height: 10vw;
        border-radius: 50%; 
        position: relative;
    }

    .SpinDia.oculta {
        opacity: 0;
        transform: translateY(20px);
        pointer-events: none;
        display: none;
    }

    .SpinNoc {
        transition: opacity 0.5s ease, transform 0.5s ease;
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;
        width: 10vw;
        height: 10vw;
        border-radius: 50%; 
        position: relative;
    }

    .SpinNoc.oculta {
        opacity: 0;
        transform: translateY(20px);
        pointer-events: none;
        display: none;
    }
}