.parent {
    text-decoration: none;
    color: #9F86C0;
    li {
        list-style: none;
    }

    a {
        text-decoration: none;
        color: black;
    }

    padding: 2vw;
}

.sandia{
    visibility: visible;
}

.Notice {
    border-radius: 3%;
}

.Notice2{
    border-radius: 3%;
}

.Amanecer {
    background: #4B3F5A;
    background: linear-gradient(180deg, rgba(75, 63, 90, 0.3) 100%, rgba(159, 134, 192, 0.3) 0%);
    padding: 2vw;
    border-radius: 5%;
    text-align: center;
    display: flex;
}

.CollapseCu {
    padding: 1vw;
    background: #9F86C0;
    border-radius: 5%;
}

.Dia {
    background: #4B3F5A;
    background: linear-gradient(180deg, rgba(75, 63, 90, 0.3) 100%, rgba(159, 134, 192, 0.3) 0%);
    padding: 2vw;
    border-radius: 5%;
    text-align: center;
    display: flex;

}

.Noche {
    background: #4B3F5A;
    background: linear-gradient(180deg, rgba(75, 63, 90, 0.3) 100%, rgba(159, 134, 192, 0.3) 0%);
    padding: 2vw;
    border-radius: 5%;
    text-align: center;
    display: flex;

}

.Porcentaje {
    background: #4B3F5A;
    background: linear-gradient(180deg, rgba(75, 63, 90, 0.3) 100%, rgba(159, 134, 192, 0.3) 0%);
    padding-top:3vw;
    padding-left: 2vw;
    padding-right: 2vw;
    border-radius: 5%;
    text-align: center;
    color: beige;
}

.btnPro {
    background-color: #9F86C0;
    padding-left: 7vw;
    padding-right: 7vw;
    border-radius: 10%;
}

.btnS {
    li {
        padding: 1vw;
        display: inline-block;
    }

    button {
        border-radius: 100%;
        width: 3vw;
        height: 3vw;
        background-color: #5e548e93;
        border: none;
        img {
            width: 2vw;
        }
    }

    button:hover{
        background-color: #4D3758;
        transition: 0.2ms ease-in-out;
    }
    button:checked{
        background-color: #4D3758;
    }
}

@media (max-width: 412px) {
    .parent {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        text-align: center;

        li {
            list-style: none;
        }
    }

    .Notice {
        grid-area: 1 / 1 / 2 / 4;
    }

    .Amanecer {
        grid-area: 2 / 1 / 3 / 4;
        display: inline;
    }

    .Dia {
        grid-area: 3 / 1 / 4 / 4;
        display: inline;

    }

    .Noche {
        grid-area: 4 / 1 / 5 / 4;
        display: inline;

    }

    .Boton {
        grid-area: 5 / 1 / 6 / 4;

        img {
            width: 30vw;
        }
    }

    .Porcentaje {
        visibility: hidden;
    }

    .CollapseCu {
        padding: 1vw;
        background: #9F86C0;
        border-radius: 5%;
    }

    .btnPro {
        background-color: #9F86C0;
        padding-left: 7vw;
        padding-right: 7vw;
        border-radius: 10%;
    }

    .btnS {
        li {
            padding: 1vw;
            display: inline-block;
        }

        button {
            border-radius: 100%;
            width: 12vw;
            height: 12vw;
            background-color: #5e548e93;
            border: none;

            img {
                width: 8vw;
            }
        }
    }

    .exists2 {
        visibility: hidden;
    }
}

@media (min-width: 413px) {
    .parent {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 15px;
    }

    .sandia{
        display:none;
    }

    .Boton {
        grid-area: 1 / 1 / 2 / 5;

        img {
            width: 5vw;
        }
    }

    .Notice {
        grid-area: 2 / 1 / 3 / 2;
        background: #4D3758;
        background: linear-gradient(180deg, rgba(77, 55, 88, 0.5) 100%, rgba(88, 55, 82, 0.5) 0%);
        text-align: center;
        padding: 1VW;
    }

    .Notice2 {
        grid-area: 3 / 1 / 5 / 2;
        background: #4D3758;
        background: linear-gradient(180deg, rgba(77, 55, 88, 0.5) 100%, rgba(88, 55, 82, 0.5) 0%);
        text-align: center;
    }

    .Amanecer {
        grid-area: 2 / 2 / 4 / 3;
    }

    .Dia {
        grid-area: 2 / 3 / 4 / 4;
    }

    .Noche {
        grid-area: 2 / 4 / 4 / 5;
    }

    .Porcentaje {
        grid-area: 4 / 2 / 5 / 5;
    }

    .exists1 {
        visibility: hidden;
    }
}