<div class="Boton1">
    <a href="/Inicio" class="btnReg"><img src="assets/inicial.svg" alt=""></a>
</div>

<div class="parent">
    <div class="Notice">
        <p>El dia de hoy es </p>
        <li>
            <p>Jueves</p> <!--La fecha es una variable-->
        </li>
        <li>
            <p>01 de Mayo del 2025</p>
        </li>
        <li>
            <p>Clima:</p> <!--El clima es una variable-->
        </li>
        <li>
            <p>Esta soleado</p>
        </li>
    </div>

    <div class="tracks">
        <div class="Amanecer">
            <div class="CollapseCu" id="dropdownCollapse">
                <p class="d-inline-flex gap-1">
                    <a class="btnPro" data-bs-toggle="collapse" href="#collapseExample1" role="button"
                        aria-expanded="false" aria-controls="collapseExample">
                        Amanecer
                    </a>
                </p>
                <div class="prog sandia" [class.oculta]="grafM1">
                    <div class="barra">
                        <div class="progreso" [ngStyle]="{width: progLuz + '%'}"></div>
                    </div>
                </div>
                <div class="collapse" id="collapseExample1" #dropdownCollapseRef1>
                    <div class="btnS">
                        <form (ngSubmit)="Amanecer(valor)">
                        <li><button type="submit" (click)="Amanecer('Hora')"><img src="assets/moonshot.svg" alt=""></button></li>
                        <li><button type="submit" (click)="Amanecer('Cama')"><img src="assets/sueño.svg" alt=""></button></li>
                        <li><button type="submit" (click)="Amanecer('Escritorio')"><img src="assets/futuro.svg" alt=""></button></li>
                        <li><button type="submit" (click)="Amanecer('Dientes')"><img src="assets/sonrisa.svg" alt=""></button></li>
                        <li><button type="submit" (click)="Amanecer('Cara')"><img src="assets/mirada.svg" alt=""></button></li>
                        <li><button type="submit" (click)="Amanecer('Cuerpo')"><img src="assets/ser.svg" alt=""></button></li>
                        </form>
                    </div>
                </div>
            </div>
            <div class="SpinLuz" [ngStyle]="{
                background: 
                'radial-gradient(rgba(54, 25, 68, 0.5) 60%, transparent 40%),' + 
                'conic-gradient(rgba(169, 65, 221, 0.5)' + progLuz + '%, transparent ' + progLuz + '%)'}"
                [class.oculta]="graf1">
            </div>
        </div>

        <div class="Dia">
            <div class="CollapseCu">
                <p class="d-inline-flex gap-1">
                    <a class="btnPro" data-bs-toggle="collapse" href="#collapseExample2" role="button"
                        aria-expanded="false" aria-controls="collapseExample">
                        Dia
                    </a>
                </p>
                <div class="prog sandia" [class.oculta]="grafM2">
                    <div class="barra">
                        <div class="progreso" [ngStyle]="{width: progDia + '%'}"></div>
                    </div>
                </div>
                <div class="collapse" id="collapseExample2" #dropdownCollapseRef2>
                    <div class="btnS">
                        <form (ngSubmit)="Dia(valor)">
                        <li><button type="submit" (click)="Dia('Ejercicio')"><img src="assets/ejercicio.svg" alt=""></button></li>
                        <li><button type="submit" (click)="Dia('Daily')"><img src="assets/dailies.svg" alt=""></button></li>
                        <li><button type="submit" (click)="Dia('Comida')"><img src="assets/esencia.svg" alt=""></button></li>
                        <li><button type="submit" (click)="Dia('Trabajo')"><img src="assets/trabajo.svg" alt=""></button></li>
                        <li><button type="submit" (click)="Dia('Agua')"><img src="assets/oceano.svg" alt=""></button></li>
                        <li><button type="submit" value="Estudio"><img src="assets/stars.svg" alt=""></button></li>
                        </form>
                    </div>
                </div>
            </div>
            <div class="SpinDia" [ngStyle]="{
                background: 
                'radial-gradient(rgba(54, 25, 68, 0.5) 60%, transparent 40%),' + 
                'conic-gradient(rgba(169, 65, 221, 0.5)' + progDia + '%, transparent ' + progDia + '%)'}"
                [class.oculta]="graf2">
            </div>
        </div>

        <div class="Noche">
            <div class="CollapseCu">
                <p class="d-inline-flex gap-1">
                    <a class="btnPro" data-bs-toggle="collapse" href="#collapseExample3" role="button"
                        aria-expanded="false" aria-controls="collapseExample">
                        Noche
                    </a>
                </p>
                <div class="prog sandia" [class.oculta]="grafM3">
                    <div class="barra">
                        <div class="progreso" [ngStyle]="{width: progNoc + '%'}"></div>
                    </div>
                </div>
                <div class="collapse" id="collapseExample3" #dropdownCollapseRef3>
                    <div class="btnS">
                        <form (ngSubmit)="Noche(valor)">
                        <li><button type="submit" (click)="Noche('Skin')"><img src="assets/reborn.svg" alt=""></button></li>
                        <li><button type="submit" (click)="Noche('Dientes')"><img src="assets/sonrisa.svg" alt=""></button></li>
                        <li><button type="submit" (click)="Noche('Cabello')"><img src="assets/galaxia.svg" alt=""></button></li>
                        <li><button type="submit" (click)="Noche('Leer')"><img src="assets/mundo.svg" alt=""></button></li>
                        <li><button type="submit" (click)="Noche('Mochila')"><img src="assets/viaje.svg" alt=""></button></li>
                        <li><button type="submit" (click)="Noche('Cambio')"><img src="assets/cambio.svg" alt=""></button></li>
                        </form>
                    </div>
                </div>
            </div>
            <div class="SpinNoc" [ngStyle]="{
                background: 
                'radial-gradient(rgba(54, 25, 68, 0.5) 60%, transparent 40%),' + 
                'conic-gradient(rgba(169, 65, 221, 0.5)' + progNoc + '%, transparent ' + progNoc + '%)'}"
                [class.oculta]="graf3">
            </div>
        </div>
    </div>

    <div class="Boton">
        <a href="/Inicio" class="btnReg"><img src="assets/inicial.svg" alt=""></a>
    </div>

    <div class="Porcentaje">
        <div class="barra">
            <div class="progreso" [ngStyle]="{width: proa + '%'}"></div>
        </div>
        <p>vas bien sigue asi</p>
    </div>

    <div class="Notice2">
        <p>Kira kira puyo puyo no wonda este ji </p>
    </div>
</div>