<div class="parent">
    <div class="Notice">
        <p>El dia de hoy es </p>
        <li>
            <a href="/">Jueves</a> <!--La fecha es una variable-->
        </li>
        <li>
            <a href="/">01 de Mayo del 2025</a>
        </li>
        <li>
            <a href="/">Clima:</a> <!--El clima es una variable-->
        </li>
        <li>
            <a href="/">Esta soleado</a>
        </li>
    </div>

    <div class="Amanecer">
        <p class="d-inline-flex gap-1">
            <a class="btnPro" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
                aria-controls="collapseExample">
                Amanecer
            </a>
        </p>
        <div class="collapse" id="collapseExample">
            <div class="card card-body">
                <button></button>
                <button></button>
                <button></button>
                <button></button>
                <button></button>
                <button></button>

            </div>
        </div>
    </div>

    <div class="Dia">
        <p class="d-inline-flex gap-1">
            <a class="btnPro" data-bs-toggle="collapse show" href="#collapseExample" role="button" aria-expanded="false"
                aria-controls="collapseExample">
                Dia
            </a>
        </p>
        <div class="collapse" id="collapseExample">
            <div class="card card-body">
                Some placeholder content for the collapse component. This panel is hidden by default but revealed when
                the user activates the relevant trigger.
            </div>
        </div>
    </div>

    <div class="Noche">
        <p class="d-inline-flex gap-1">
            <a class="btnPro" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
                aria-controls="collapseExample">
                Noche
            </a>
        </p>
        <div class="collapse" id="collapseExample">
            <div class="card card-body">
                Some placeholder content for the collapse component. This panel is hidden by default but revealed when
                the user activates the relevant trigger.
            </div>
        </div>
    </div>

    <div class="Boton">
        <a href="/Inicio" class="btnReg"><img src="assets/inicial.svg" alt=""></a>

    </div>

    <div class="Porcentaje">
        <button>sandia</button>
    </div>
</div>