.parent>div {
    border-radius: 5px;
    color: white;
    background: #9F86C0;
    background: linear-gradient(180deg, rgba(159, 134, 192, 0.18) 0%, rgba(75, 63, 90, 0.18) 66%);
    box-shadow: #2d233a 1px 1px 5px;

}

.vertical {
    display: inline-block;
    width: 15%;
    height: 100%;
}

.Peso {
    text-align: center;
}

.Info {
    align-content: center;
}

button {
    border-radius: 10%;
    width: 10vw;
    height: 3vw;
    background-color: #5e548e93;
    border: none;
}

button:hover {
    background-color: #4D3758;
    color: #9F86C0;
    box-shadow: #c599c9 1px 1px 10px;
    transition: 0.5s ease-in;
}

button:checked {
    background-color: #4D3758;
}

.InOut {
    border-radius: 5%;
    background-color: #8c80c4;
    border: none;
}

dialog {
    backdrop-filter: blur(20px) brightness(85%);
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #3f324e;
    background: linear-gradient(180deg, rgba(159, 134, 192, 0.18) 0%, rgba(75, 63, 90, 0.18) 66%);
    box-shadow: #403253 1px 1px 5px;

    button {
        margin: 1vw;
    }

    input {
        margin: 1vw
    }
}

@media (max-width: 504px) {
    .parent {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        margin: 2vw
    }

    .Peso {
        grid-area: 1 / 1 / 3 / 2;
        padding: 1vw;

        p {
            font-size: large;
        }

        button {
            border-radius: 10%;
            width: 20vw;
            height: 7vw;
            background-color: #5e548e93;
            border: none;
        }
    }

    .Extra {
        grid-area: 3 / 1 / 5 / 2;
        padding: 1vw;
        align-content: center;
        text-align: center;

        button {
            margin: 2vw;
            border-radius: 10%;
            width: 25vw;
            height: 7vw;
            background-color: #5e548e93;
            border: none;
        }
    }

    .Info {
        grid-area: 1 / 2 / 5 / 3;
        padding: 1vw;

        p {
            font-size: larger;
        }

        hr {
            border-width: 10px;
            border-color: #28222900;
        }
    }
}

@media (min-width: 505px) {
    .parent {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 50px;
        grid-row-gap: 20px;
    }


    .Peso {
        grid-area: 1 / 1 / 3 / 4;
        padding: 1vw;
        font-size: larger;
    }

    .Info {
        grid-area: 1 / 4 / 5 / 7;
        padding: 2vw;
        font-size: larger;
        text-align: justify;
    }

    .Progress {
        grid-area: 2 / 6 / 5 / 7;
        padding-top: 1vw;
        padding-right: 5vw;
        padding-bottom: 1vw;
        justify-items: right;
    }

    .barra {
        width: 2vw;
        height: 25vw;
        border: 2px solid #240a2736;
        background-color: #3f324e;
        position: relative;
        display: flex;
        align-items: end;
        overflow: hidden;
        border-radius: 8px;
    }

    .progreso {
        width: 100%;
        background-color: #8c80c4;
        transition: height 0.5s ease;
        border-radius: 0 0 6px 6px;
    }

    .Extra {
        grid-area: 3 / 1 / 5 / 4;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;

        button {
            margin: 1vw;
        }
    }

}