.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.InOut {
    border-radius: 5%;
    background-color: #8c80c4;
    padding: 5px;
    border: none;
}

button {
    border-radius: 5%;
    width: 7vw;
    height: 2vw;
    background-color: #6a55d6;
    border: none;
}

button:hover {
    background-color: #4D3758;
    color: #9F86C0;
    box-shadow: #c599c9 1px 1px 10px;
    transition: 0.2s ease-in;
}

button:checked {
    background-color: #4D3758;
}

.div1 {
    grid-area: 1 / 1 / 2 / 4;
}

.div3 {
    grid-area: 2/1/3/4;
    display: contents;

    button {
        margin-top: 1vw;
    }
}

.div2 {
    grid-area: 3 / 1 / 4 / 4;

    a {
        img {
            width: auto;
            height: 8vw;
        }
    }
}

@media (max-width: 504px) {
    .parent {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        padding: 5vw;
    }

    .div1 {
        margin: 1;

        img {
            margin: 1vw;
        }
    }

    .div2 {
        margin: 2vw;

        a {
            img {
                margin: 3vw;
                height: 15vw;
            }
        }
    }

    .div3 {
        button {
            margin: 2vw;
            width: 15vw;
            height: 7vw;
        }
    }
}

@media (min-width: 505px) {
    .parent {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .div2 {
        a {
            img {
                margin: 3vw;
            }
        }
    }
}