<div class="parent">
    <div class="div1">
                <div class="check"><input type="checkbox"></div>
        <div class="text">
            Ejercicio
        </div> </div>
    <div class="div2">
                <div class="check"><input type="checkbox"></div>
        <div class="text">
            Diarias
        </div> </div>
    <div class="div3">
                <div class="check"><input type="checkbox"></div>
        <div class="text">
            Comida (minimo 2)
        </div> </div>
    <div class="div4">
                <div class="check"><input type="checkbox"></div>
        <div class="text">
            Trabajo 
        </div> </div>
    <div class="div5">
                <div class="check"><input type="checkbox"></div>
        <div class="text">
            Tomas 2 litros de agua
        </div> </div>
    <div class="div6">
                <div class="check"><input type="checkbox"></div>
        <div class="text">
            Estudio (lenguaje,programacion,etc.)
        </div> </div>
</div>