<div class="parent">
    <div class="Inicio">
        <a href="/Inicio"><img src="assets/inicial.svg" alt=""></a>
    </div>

    <div class="Boton">
        <a href="/Inicio"><img src="assets/inicial.svg" alt=""></a>
    </div>

    <div class="Peso">
        <p>Tienes esto</p>
        <p>Faltan esto</p>
        <button>dnsdf</button>
        <button>cambiar</button>
    </div>

    <div class="Info">
        <p>dias transcurridos 10</p>
        <p>dias faltantes: 40</p>
        <p>sfodhwfowhf</p>

    </div>
    <div class="Progress">
        <h4>djwfijwo</h4>
    </div>

    <div class="Extra">
        <button>sfqk</button>
    </div>
</div>