<div class="parent">
    <div class="Inicio">
        <a href="/Inicio"><img src="assets/inicial.svg" alt=""></a>
    </div>

    <div class="Boton">
        <a href="/Inicio"><img src="assets/inicial.svg" alt=""></a>
    </div>

    <div class="Peso">
        <p>Tienes esto [Variable]</p>
        <p>Faltan esto [Variable]</p>
        <input type="text" class="InOut" id="peso">
        <hr>
        <button>Ingresar</button>
    </div>

    <div class="Info">
        <p>Dias transcurridos: [Variable]</p>
        <p>Dias Trabajados: [Variable]</p>
        <p>Dias Faltantes: [Variable]</p>
    </div>
    <div class="Progress">
        <div class="barra">
            <div class="progreso" [ngStyle]="{height: peso + '%'}"></div>
        </div>
    </div>

    <div class="Extra">
        <button>Cambiar Meta</button>
    </div>
</div>