<div>
    <a href="/Inicio">regreso</a>
    <div>
        <ul>
            <p>Informacion</p>
            <li>
                <p>info info</p>
            </li>
            <li>
                <p>progress</p>
            </li>
        </ul>
    </div>

    <div>
        <div>
            <ul>
                <p>Peso</p>
                <li>
                    <button>cambio</button>
                </li>
                <li>
                    <button>ingresar</button>
                </li>
            </ul>
        </div>
</div>