button {
    border-radius: 10%;
    width: 10vw;
    height: 3vw;
    background-color: #5e548e93;
    border: none;
}

button:hover {
    background-color: #4D3758;
    color: #9F86C0;
    box-shadow: #c599c9 1px 1px 10px;
    transition: 0.5s ease-in;
}

button:checked {
    background-color: #4D3758;
}

.div1 {

    p {
        font-size: 1vw;
        margin-left: 1.5vw;
        margin-top: 2vw;
    }
}

.div2 {
    text-align: center;

    p {
        margin: 1vw;
        font-size: 1vw;
    }
}

.div3 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.div4 {

    p {
        font-size: 1vw;
        margin-left: 1.5vw;
        margin-top: 2vw;
    }
}

.div5 {
    text-align: center;

    p {
        margin: 1vw;
        font-size: 1vw;
    }
}

@media (max-width: 504px) {
    .parent {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-column-gap: 2vw;
        grid-row-gap: 2vw;
        margin: 1vw;
    }

    .parent>div {
        color: white;
        background: #9F86C0;
        background: linear-gradient(180deg, rgba(159, 134, 192, 0.18) 0%, rgba(75, 63, 90, 0.18) 66%);
        padding: 1vw;
        border-radius: 5px;
    }

    .div1 {
        grid-area: 1 / 1 / 3 / 2;

        p {
            font-size: 2vw;
            margin-left: 1.5vw;
            margin-top: 2vw;
        }
    }

    .div2 {
        grid-area: 1 / 2 / 3 / 3;
        text-align: center;

        p {
            margin: 1vw;
            font-size: 2vw;
        }
    }

    .div3 {
        grid-area: 5 / 1 / 6 / 3;
        display: flex;
        justify-content: space-around;
        align-items: center;

        button {
            width: 20vw;
            height: 7vw;
        }
    }

    .div4 {
        grid-area: 3 / 1 / 5 / 2;

        p {
            font-size: 2vw;
            margin-left: 1.5vw;
            margin-top: 2vw;
        }
    }

    .div5 {
        grid-area: 3 / 2 / 5 / 3;

        text-align: center;

        p {
            margin: 1vw;
            font-size: 2vw;
        }
    }
}

@media (min-width: 505px) {
    .parent {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 1vw;
        grid-row-gap: 1vw;
    }

    .parent>div {
        color: white;
        background: #9F86C0;
        background: linear-gradient(180deg, rgba(159, 134, 192, 0.18) 0%, rgba(75, 63, 90, 0.18) 66%);
        padding: 1vw;
        border-radius: 5px;
    }

    .div1 {
        grid-area: 1 / 1 / 4 / 2;

        p {
            font-size: 1vw;
            margin-left: 1.5vw;
            margin-top: 2vw;
        }
    }

    .div2 {
        grid-area: 1 / 2 / 4 / 3;
        text-align: center;

        p {
            margin: 1vw;
            font-size: 1vw;
        }
    }

    .div3 {
        grid-area: 4 / 1 / 5 / 5;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }


    .div4 {
        grid-area: 1 / 3 / 4 / 4;

        p {
            font-size: 1vw;
            margin-left: 1.5vw;
            margin-top: 2vw;
        }
    }

    .div5 {
        grid-area: 1 / 4 / 4 / 5;
        text-align: center;

        p {
            margin: 1vw;
            font-size: 1vw;
        }
    }
}