<div class="parent">
    <div class="div1">
        <div class="graph">
            <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart"
                [dataLabels]="chartOptions.dataLabels" [plotOptions]="chartOptions.plotOptions"
                [yaxis]="chartOptions.yaxis" [legend]="chartOptions.legend" [fill]="chartOptions.fill"
                [stroke]="chartOptions.stroke" [xaxis]="chartOptions.xaxis"></apx-chart>
        </div>
        <div class="data">
            Habito a mejorar: variable
        </div>
    </div>
    <div class="div2">
        <div class="graph">
            <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart"
                [dataLabels]="chartOptions.dataLabels" [plotOptions]="chartOptions.plotOptions"
                [yaxis]="chartOptions.yaxis" [legend]="chartOptions.legend" [fill]="chartOptions.fill"
                [stroke]="chartOptions.stroke" [xaxis]="chartOptions.xaxis"></apx-chart>
        </div>
        <div class="data">
            Habito a mejorar: variable
        </div>
    </div>
    <div class="div3">
        <div class="graph">
            <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart"
                [dataLabels]="chartOptions.dataLabels" [plotOptions]="chartOptions.plotOptions"
                [yaxis]="chartOptions.yaxis" [legend]="chartOptions.legend" [fill]="chartOptions.fill"
                [stroke]="chartOptions.stroke" [xaxis]="chartOptions.xaxis"></apx-chart>
        </div>
        <div class="data">
            Habito a mejorar: variable
        </div>
    </div>
    <div class="div4">
        Dias pasados:
        <button>Generar Informe</button>
        <button></button>
    </div>
</div>